.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px 5px;
  border-radius: 20px;
  width: 100%;
  max-width: 900px;
  background-color: #aac4d1;
}
